.navbar {
    z-index: 1000;
    background-color: transparent;
    padding: 5px 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.fixed-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

.navbar-brand {
    margin-right: 145px;
}

.nav-scroll {
    background: rgba(34, 34, 34, 1);
    border-color: rgba(34, 34, 34, 1);
}

.navbar-brand img {
    max-width: 211px;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-nav .nav-item {
    margin-right: 20px;
    position: relative;
}

.nav-link {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding-right: 20px;
    position: relative;
}



.custom-link::before {
    content: none;
}


.navbar-img {
    box-sizing: border-box;
    display: block;
    height: 45px;
    overflow-x: clip;
    overflow-y: clip;
    width: 240px;
}

.nav-link:hover {
    color: #ffcc31;
}

.navbar-toggler-icon {
    background-color: #ffcc31;
}

.navbar-default .navbar-toggle {
    background-color: #fbc932;
    border-color: #fbc932;
}

.navbar-default .navbar-collapse {
    border-top: 1px solid rgba(255, 255, 255, 1);
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    padding-left: 20px;
    padding-right: 25px;
    font-size: 14px;
    font-weight: 600;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #fff;
}

.bg-custom {
    background-color: #888;
}


@media (max-width: 991px) {
    .navbar-brand > img {
        display: block;
        width: 179px;
    }
}

@media (max-width:844px) {
    .navbar-default {
        background: rgba(34, 34, 34, 0.95) none repeat scroll 0 0;
        border-color: rgba(34, 34, 34, 0.05);
    }
}

@media (min-width: 768px) {
    .nav-link::before {
        content: '';
        width: 8px;
        height: 8px;
        background-color: #ffcc31;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
        opacity: 1;
    }

    .nav-link {
        padding-left: 20px!important;
        padding-right: 25px!important;
    }

    .nav-link:first-child:before {
        display: none;
    }

    .navbar-default {
        padding: 15px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
    }

    .navbar-default .navbar-collapse {
        border-top:0;
        flex-grow: inherit;
    }

    .navbar-right {
        float: right!important;
        margin-right: -15px;
    }

}

@media (max-width: 767px) {
    .navbar-default {
        background: rgba(34, 34, 34, 0.95) none repeat scroll 0 0;
        border-color: rgba(34, 34, 34, 0.05);
    }
    .navbar-brand > img {
        width: 160px;
    }
}
